<div class="container">
    <br>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li ng-repeat="evento in lsteventos" data-target="#myCarousel" data-slide-to="{{$index}}" class="active"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="evento in lsteventos">
                <img class="img-thumbnail center-block" src="{{evento.foto.foto}}" ng-show="evento.foto.foto" style="height: 300px; border-radius: 10px" />
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>