<footer class="navbar navbar-inverse" style="margin-top: 20px">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 div-logo-footer">
                <h3 style="color: #FFFFFF; margin-top: 10px;"><strong>iEventos</strong></h3>
            </div>
            <div style="text-align: right">
                <p style="color: #FFFFFF; margin-top: 20px;">Copyright &copy; iEventos / 2016. Todos direitos reservados.</p>
            </div>            
        </div>
    </div>
</footer>