<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <a href="#cadcategoria">
                        <div class="btn btn-sm btn-success">Cadastrar categorias</div>    
                    </a> 
                    <a href="#cadevento">
                        <div class="btn btn-sm btn-success">Cadastrar Evento</div>    
                    </a> 
                    <div class="btn btn-sm btn-success" ng-click="getPessoa()">Meus dados</div>
                    <div class="btn btn-sm btn-danger" ng-click="logoff()">Sair</div>                    
                </div>
            </div>
        </div>
    </div>
</div>